.globale .pt
{
 float: right;
 margin-right: 100px;
}
.chef
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 80%;
min-width: 80px;
max-width: 1300px;
margin-left: 120px;
}
.chef h4{
    flex-direction: row;
}
.chef p{
   flex-direction: row;
}
.groupe1 img
{
display: flex;
width: 220px;
height:230px ;
}
.groupe1 h4
{
display: flex;
justify-content: right;

}
.groupe2 img
{
display: flex;
 margin-top: 50px;
 width: 220px;
height:230px ;
}
.groupe2
{
    text-align: left start;
}
.groupe3 img
{
display: flex;
width: 220px;
height:230px ;
}
.groupe1 
{
    text-align: left start;
}

footer
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
